@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #20212c;
  --color-scroll: #3e3f4e;
  --color-border-line: #3e3f4e;
  --color-main: #2b2c37;
  --color-title: #ffffff;
  --color-subtitle: #828FA3;
  --color-board: #20212c;
  --color-theme-switch-box: #20212c;
  --color-add-button: #ffffff;
  --color-ellipsis: #20212c;
  --color-checked: rgba(255, 255, 255, 0.5);
  --color-primary:rgb(99, 95, 199);
 
}

[data-theme="light"] {
  --color-bg: #f4f7fd;
  --color-scroll: #828fa3;
  --color-border-line: #e4ebfa;
  --color-main: #ffffff;
  --color-title: #000000;
  --color-subtitle: #828fa3;
  --color-board: #ffffff;
  --color-theme-switch-box: #f4f7fd;
  --color-add-button: #f0effa;
  --color-ellipsis: #e4ebfa;
  --color-checked: rgba(0, 0, 0, 0.5);
}

/* Box shadow */
.box-shadow {
  border: 1px solid var(--color-bg);
  box-shadow: 0 0 8px rgba(54, 78, 126, 0.1);
}

/* Input standard */
.input-standard input,
.input-standard textarea {
  background: transparent;
  color: var(--color-title);
  font-size: 0.8125rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 2px solid rgba(130, 143, 163, 0.4);
  transition: border 0.2s ease;
}

.input-standard input:focus-visible,
.input-standard textarea:focus-visible {
  border-color: #635fc7;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
 
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
 
  }
 
}



@layer base {
  * {
    @apply border-border outline-ring/50;
 
  }
  body {
    @apply bg-background text-foreground;
 
  }
 
}
